html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace;
    color: #874356;
    background-color: #FBF8F1;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#main {
    display: flex;
    overflow: auto;
    flex-direction: column;
    height: calc(100% - 60px);
    background-color: #E9DAC1;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    max-width: 600px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
}

.header {
    flex-grow: 0;
    flex-basis: 150px;
}

#title {
    margin-top: 1em
}

#survey-form {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

#main input,#main textarea {
    border: unset;
    border-bottom: 1px #874356 solid;
}

#main select, #main fieldset {
    border-color: #874356;
}

#main input {
    font-size: 15px;
    height: 20px;
}

#main select, #main input ,#main textarea {
    background-color:#E9DAC1;
    margin: 5px 0 5px 0;
}

#main input[type="radio"], #main input[type="checkbox"] {
    position: relative;
    top: 6px
}

option {
    font-family: Impact;
}

#survey-footer {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    margin-top: 1em;
}

#submit {
    width: 100%;
    font-size: 20px;
    height: 40px;
    border: none;
    background-color: #54BAB9;
}

#submit:hover {
    -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}
@keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}